<%- contentFor('meta') %>
<title>Post Show</title>
<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  $(document).ready(function() {
    $('#my-post-show').on('submit', '.delete-form', function(e) {
      e.preventDefault()

      axios({
        url: $(e.target).data('url'),
        method: $(e.target).data('method')
      }).then(function() {
        window.location.href = '/my/post'
      }).catch(function(err) {
        alert(err.response.data.message)
      })
    })
  })
</script>
<%- contentFor('body') %>
<div id="my-post-show" class="container my-3 text-center">
  <h1 class="mb-3">My Post <span><%= post.id %></span></h1>
  <img
    class="mr-3 mb-3"
    src="<%= post.User && post.User.avatar ? post.User.avatar : 'https://i1.wp.com/www.mnleadership.org/wp-content/uploads/2017/02/Anonymous-Avatar.png?ssl=1' %>"
    alt="avatar"
    style="width: 100px; height: auto;"
  >
  <h1 class="mb-3"><%= post.title %></h1>
  <h2 class="mb-3"><%= post.description%></h2>
  <h3 class="mb-3"><%= moment(post.createdAt).format('YYYY/MM/DD') %></h3>

  <div class="mb-3">
    <a class="edit-btn btn btn-info btn-sm" href="/my/post/<%= post.id %>/edit"><i class="fas fa-edit"></i></a>
    <form class="delete-form d-inline" data-url="/api/my/post/<%= post.id %>" data-method="DELETE">
      <button class="btn btn-danger btn-sm" type="submit"><i class="fas fa-trash"></i></button>
    </form>
  </div>

  <% if (post.postItems.length > 0) { %>
    <ul class="list-group">
      <% post.postItems.forEach(function(item) { %>
        <li class="list-group-item">
          <span class="<%= (item.received ? 'text-decloration-through' : '') %>"><%= item.name %></span>
          <% for (let i = 0; i < 5; i++) { %>
            <% if (i < item.importance) { %>
              <i class="fas fa-star"></i>
            <% } else { %>
              <i class="far fa-star"></i>
            <% } %>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <div>No Items</div>
  <% } %>
</div>

